@charset "UTF-8";

.container {
    width: 1000px; !important;
    margin-top: 20px;
}

footer {
    text-align: center;
    background-color: navy;
    color: white;
}

.toolbar {
	margin: 3px 0px;
}

.searchbox {
	float: right;
}

#memberType_modify {
	margin-left: 15px;
}

#memberType_add {
	margin-left: 15px;
}
<<<<<<< HEAD

.ss {
    width: 800px;
    height: auto;
    margin-left: 80px;
}

.btn-box {
   display:block;
   position:absolute;
   bottom:10px;
   right:10px;
   
}

.card-body d-flex flex-column align-items-start {
   position:relative;
}

=======
>>>>>>> branch 'master' of https://github.com/leech5151/java100-2team.git
#category {
	float: right;
	margin-right: -21%;
}
