@charset "UTF-8";
@font-face{
   font-family: 'homefont';
   src: url(../../fonts/Binggrae.ttf) format('truetype');
}
@font-face{
   font-family: 'titlefont';
   src: url(../../fonts/AmaticSC-Bold.ttf) format('truetype');
}
@font-face{
   font-family: 'contsfont';
   src: url(../../fonts/YummyCupcakes.ttf) format('truetype');
}

.bal-my-auto {
    width: 90%;
    height: 8%;
    margin-top:8%; 
    margin-left:5%;
    margin-right:5%;
    position: absolute;
    background-color: rgb(244, 236, 225);
}
.bal-my-table {
	margin-top: 20px;
}
.bal-my-table-img{
	text-align:center; 
}
.bal-mb-0 {
    text-align:center; 
    line-height:0.9em;
    font-family: titlefont;
    font-size: 200px;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: hidden;
    
}
.bal-mb-0-img {
	text-align:center; 
	margin-top: 10px;
    width:100x; 
    height:100px;
}
.bal-mb-1-img {
	float: right;
    width:50px; 
    height:50px;
    margin-top:5%;
    margin-right:30%;
}
.bal-mb-5 {
	clear: both;
    text-align:center; 
    font-family: contsfont;
    font-size: 40px;
}