@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.lostViewUpdate {
	width: 50rem;
	height: 75vh;
	background-color: black;
	margin-left: 6rem;
	position: relative;
	float: left;
}

.lostViewUpdate img {
  opacity: 1;
  width: 40rem;
  height: 45vh;
  margin-bottom: 5vh;
  margin-left: 5rem;
}

.lostViewUpdate p {
  opacity: 1;
  width: 15rem;
  height: 20vh;
  margin: 0 0 0 5rem;
  color: white;
}

.lostViewUpdate p#lostPetName {
  opacity: 1;
  width: 100%;
  height: 3vh;
  margin: 0 0 0 0;
  color: white;
  text-align: center;
  font-style: oblique;
  font-size: 30px;
}

.lostViewUpdate input#petName {
  width: 10rem;
  border: black;
  color: white;
  font-size: 30px;
}

.lostViewUpdate input {
  width: 6rem;
  border: black;
  color: white;
  margin: 0 0 1.5vh 0;
}

.lostViewUpdate input#petName::-webkit-input-placeholder {
  color: white; 
  text-align: center;
}

.lostViewUpdate input::-webkit-input-placeholder {
  color: white; 
  text-align: left;
  padding: 0 0 0 1rem;
}


